
<form action="/admin/programs" method="POST" enctype="multipart/form-data">
  <%= partial :'programs/_form' %>
  <input type="submit" value="Create"/>&nbsp;&nbsp;<a href="/admin/programs">Back</a>
</form>