#column_left {
  width: 600px;
}

#logo {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
  background-image:url('/img/logo.png');
  width: 443px;
  height: 179px;
  position: relative;
  background-repeat:no-repeat;
}

program_days h2 {
  display: inline;
}