%h1= h @user.djname

.div.col-md-6
  .btn.btn-danger.btn-lg.btn-group.btn-group-justified
    .btn-group
      %h3 Record Episode
  %p Show Duration: 2 hours
  %h3 Tracks
  %ol
    %li Description
    %li Description
    %li Description
    %li Description
