%h1= h @user.djname
%p= h @user.name
%p= h @user.phone
%p= h @user.email
%br/

-if @user.has_role?(:DJ)
  .link
    =link_to "Edit Profile", edit_user_path
-elsif @user.has_role?(:Admin)
  .link
    =link_to "Admin Dashboard", admin_root_path
-else
  .link
    =link_to "Home", root_path

