%h1= h @user.djname

.div.col-md-6
  .btn.btn-danger.btn-lg.btn-group.btn-group-justified
    .btn-group
      %h3 Record Episode
  %p Show Duration: 2 hours
  %h3 Tracks
  %ol
    %li Description
    %li Description
    %li Description
    %li Description

%br
.div.col-md-4
  -if @user.has_role?(:DJ)
    .link
      =link_to "Edit Profile", edit_user_path, class: "btn btn-primary"
  -elsif @user.has_role?(:Admin)
    .link
      =link_to "Admin Dashboard", "/admin", class: "btn btn-primary"
  %br
  .link
    =link_to "Home", root_path, class: "btn btn-primary"

