#schedules
  %h1 Schedule
  .container-fluid

    - @schedules.keys.sort.each do |day|
      - schedules = @schedules[day]
      .row
        .row
          %h3
            = to_day(day)
        %table{:class => "table"}
          %tr
            - schedules.sort_by! { |schedule, start_time | schedule.start_time }.each do |schedule|
              %td
                %p= schedule.start_time.strftime("%l:%M%P") + '-' + (schedule.start_time + schedule.duration.minutes).strftime("%l:%M%P")
                %p=link_to schedule.program.title, program_path(schedule.program)
                =link_to image_tag(schedule.program.avatar.url(:medium), width: "80%"), program_path(schedule.program)
                
                




