#schedules
  %h1 Schedule
  .container-fluid
    .row
      .well.col-sm-2
        %p 10:00-12:00
        %h5 Big Voodoo Daddy!
      .well.col-sm-1
        %p 2:00-4:00
      .well.col-sm-1
        %p 6:00-7:00
      .well.col-sm-1
      .well.col-sm-1
      .well.col-sm-1

