.container-fluid.tumblr.well
  .row
    .col-sm-12.col-md-5.col-lg-4.titlebox.box
      %a{:href => 'http://houseofsoundradio.tumblr.com', :target => '_blank'} houseofsoundradio
    .row
      %script{type: "text/javascript", src: "http://houseofsoundradio.tumblr.com/js"}

