<html>
  <head>
    <title>House of Sound - Live Player</title>
    <link rel="stylesheet" href="/css/screen.css" media="screen">
    <style>
      body {
        background-image: none;
        background-color: #000000;
      }
      #live_player {
        height: 180px;
      }
    </style>
  </head>
  <body>
    <script type='text/javascript' src='/js/swfobject.js'></script>
    <script type="text/javascript" src="/js/audio-player.js"></script>
    <script type="text/javascript">  
      AudioPlayer.setup("/swf/playback-player.swf", {  
        width: 290,
        transparentpagebg: "yes",  
        left: "000000",  
        lefticon: "FFFFFF"
      });  
    </script>
    <div id="live_player">
      <h1>HOUSE OF SOUND LIVE</h1>

      <div id="player">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="30" height="30">
          <PARAM NAME=movie 
          VALUE="/swf/audioplay.swf?file=<%= DIRECT_STREAM_URL %>&auto=yes&sendstop=yes&repeat=0&buttondir=/img/audioplay_buttons/negative&bgcolor=0xffffff&mode=playstop">
          <PARAM NAME=quality VALUE=high>
          <PARAM NAME=wmode VALUE=transparent>
          <embed src="/swf/audioplay.swf?file=<%= DIRECT_STREAM_URL %>&auto=yes&sendstop=yes&repeat=0&buttondir=/img/audioplay_buttons/negative&bgcolor=0xffffff&mode=playstop" 
                 quality=high 
                 wmode=transparent 
                 width="29" 
                 height="29" 
                 align="" 
                 TYPE="application/x-shockwave-flash" 
                 pluginspage="http://www.macromedia.com/go/getflashplayer">
          </embed>
        </object>
      </div>
      <h3>or <a href="<%= STREAM_URL %>">Play in iTunes/Media Player</a></h3>
    </div>
  </body>
</html>