<h1>Shows for "<%= h @program.name %>"</h1>

<% if @program.shows.empty? %>
  No shows yet.
<% else %>
  
  <table>
    <tr>
      <th>When?</th>
    </tr>
    <% @program.shows.each do |show| %>
      <tr>
        <td><%= h show.when.strftime "%B %d, %Y" %></td>
        <td><a href="/admin/shows/<%= show.id %>" onclick="<%= onclick_delete 'Are you sure? This will DELETE this show.' %>">Delete</a></td>
      </tr>
    <% end %>
  </table>
  
<% end %>

<br/><br/>
<a href="/admin/programs">Back</a>