<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta name="description" content="House of sound is a free-form FM station broadcasting simultaneously in Portland, Oregon and on the World Wide Web" />
  <title>DIG IT</title>
  <meta name=viewport content="width=device-width,user-scalable=no" />
  <link rel=stylesheet href="/css/iphone.css" type="text/css">
  <link rel="apple-touch-icon" href="/img/iphone/hosbutton.png"/>
  <%= erb :'_analytics', :layout => false %>
</head>

<body>
  <!--
<table border="0" width="100%">
	<tr>

		<td align="left">
			<a href="http://schedule.houseofsound.org">
				<img src="/img/iphone/schedule.gif" border="0">
			</a>
		</td>
		<td align="center">
			<a href="icontact.php">
				<img src="/img/iphone/contact.gif">
			</a>&nbsp;

		</td>
		<td align="right">
			<a href="/forum">
				<img src="/img/iphone/forums.gif" border="0">
			</a>
		</td>
	</tr>
</table>
			-->	
<br /><br /><br /><br />

<center>
<a href="<%= STREAM_URL %>"><img border="0" id="iphone" src="/img/iphone/iphonescreen.gif" /></a>
</center>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-2172691-3");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>