<div class="program_days">
<% Date::DAYNAMES.each do |day| %>
  <h2 <%= "class='selected_day'" if day_of_week && day == Date::DAYNAMES[day_of_week] %>><a href="/programs?day_of_week=<%= day %>"><%= day.upcase %></a></h2>
<% end %>
<h2 <%= "class='selected_day'" if day_of_week && day_of_week == 'all' %>><a href="/programs/all">ALL</a></h2>
</div>