.well {
  background-color: #042133;
  border: none;
}

.contact_dj.well {
  text-align: center;
  background-color: #042133;
  border: none;
  font-size: 20px;
  font-family: monospace;
}

p.copyright {
  text-align: center
}

.navbar-default {
  background: transparent;
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  .navbar-brand, .navbar-text {
    color: #ffffff;
    text-transform: uppercase;
  }
}

a.navbar-text, a.navbar-brand {
  text-decoration: none;
}

.footer {
  bottom: 0;
  width: 90%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

html, body { 
  height: 100%;
}

.container {
  min-height: 90%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding-bottom: 40px;
}

.well {
  background-color: #042133;
  border: none;
}

.contact_dj.well {
  text-align: center;
  background-color: #042133;
  border: none;
  font-size: 30px;
  font-family: monospace;
}

ol.tumblr_posts {
  list-style-type: none;
}

.audio_player_iframe {
  width: 350 px;
  height: 40 px;
}

.tumblr_post {
  margin: 14px 4px;
  background-color: #444;
  display: block;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  border: 1px solid;
  border-color: #e8e8e8;
  padding: 16px;
 } 
  
.tumblr_photo  { 
  max-width: 350px;
  max-height: 225px;
}

table {
  font-size: 20px;
}
<<<<<<< HEAD

.program_avatar {
  padding-top: 25px;
}
=======
>>>>>>> 364e0ddd4abe7320b487dbf992ca03bd41f9974f
