.well {
  background-color: #042133;
  border: none;
}

.contact_dj.well {
  text-align: center;
  background-color: #042133;
  border: none;
  font-size: 30px;
  font-family: monospace;
}

p.copyright {
  text-align: center
}
