html
{ 

background-color: #000000;

font-family: arial, helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
font-decoration: none;
color: #ffffff;
}
.white {
color: #ffffff;
}
.red {
color: #ff0000;
}
p {
width: 200px;
}
html
{
height: 100%;
}

body
{
height: 100%;
}

#nonFooter
{
position: relative;
min-height: 100%;
}

* html #nonFooter
{
height: 100%;
}

#content
{
padding-bottom: 9em;
margin-left: auto;
margin-right: auto;
}

#footer
{
position: relative;
margin-top: -4em;
margin-left: -6em;
} 
#ymp-player{
	display: none;
}
#ymp-tray{
	display: none !important;
	margin-left: -200px;
} 
.ymp-skin {
	margin-top: -5px !important;
}

#meebodiv {
	position: absolute; right: 10px; bottom: 10px;
}

#fbdiv {
	position: absolute;
	left: 10px;
	bottom: 10px;
	background: #ffffff;
	border: 1px solid black;
}

#iphone {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;	
	margin-right: auto;
}