
body {
  background-image:url('/img/background.png');
  background-repeat:no-repeat;
  background-position: top left;
  background-color: #000000;
  background-size: cover;
  color: #FFFFFF;
  font-family: Arial;
}

a:link {color:#FFFFFF; text-decoration: none;}
a:visited {color:#FFFFFF; text-decoration: none;}
a:hover {color:#5EACDF; text-decoration: none;}
a:active {color:#FFFFFF; text-decoration: none;}

#container {
  width: 980px;
  position: relative;
}

#column_left {
  width: 640px;
  height: 600px;
  display: inline-block;
  float: left;
}

#column_right {
  width: 325px;
  height: 600px;
  display: inline-block;
  position: relative;
  left: 20px;
}

#logo {
  background-image:url('/img/logo.png'); 
  width: 325px;
  height: 131px;
  display: block;
  position: relative;
  top: 10px;
}

#navigation {
  font-weight: bold;
  font-size: 20pt;
  font-family: Arial;
  padding-top: 20px;
  position: relative;
  left: 50px;
}

#navigation .link {
  display: inline;
  padding-right: 25px;
}

#content {
  width: 590px;
  background-color: #042133;
  position: relative;
  top: 15px;
  left: 30px;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

#live_player {
  width: 325px;
  height: 130px;
  background-color: #042133;
  position: relative;
  top: 30px;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#live_player h1 {
  font-size: 18pt;
  font-weight: bold;
}

#live_player h3 {
  padding-top: 10px;
}

#live_player a {
  font-weight: bold;
}

#live_player #player {
  padding-top: 10px;
  width: 29px;
  height: 29px; 
  margin-left: auto;
  margin-right: auto;
}

#contact_panel {
  width: 325px;
  background-color: #042133;
  position: relative;
  top: 50px;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact_panel h1 {
  font-size: 18pt;
  font-weight: bold;
}

#facebook_connect {
  width: 325px;
  height: 260px;
  position:relative;
  top: 235px;
  margin-left: auto;
  margin-right: auto;
}

#headline {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#headline #on_the_air {
  width: 151px;
  height: 35px;
  background-image:url(/img/on_the_air.png);
  margin-left: auto;
  margin-right: auto;
}

#headline h3 {
  color: #FFFFFF;
  font-size: 12pt;
  text-align: center;
  padding-bottom: 20px;
}

#headline h3 a:link, #headline h3 a:visited, #headline h3 a:active {
  color: #5EACDF;
}

#headline h2 {
  font-size: 20pt;
  text-align: center;
  padding-bottom: 20px;
}

#content h1 {
  color: #5EACDF;
  font-size: 35pt;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

#apply h3 {
  font-size: 12pt;
  padding-top: 10px;
  padding-bottom: 5px;
}

#programs h2 {
  font-size: 10pt;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}

.program_days {
  text-align: center;
}

.program {
  width: 685px;
  display: inline-block;
}

.program .info {
  padding: 10px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.program .right {
  width: 350px;
  padding: 10px;
  display: inline-block;
}

.selected_day a:link {
  color: #5EACDF;
}

.selected_day a:visited {
  color: #5EACDF;
}

.program .info a { 
  font-weight: bold;
}

#program h2 {
  font-size: 20pt;
  text-align: center;
  padding-bottom: 20px;
}

#program h3 {
  padding-bottom: 20px;
}

.show {
  margin: auto;
  width: 290px;
  margin-bottom: 30px;
}

#program .show h2 {
  display: inline-block;
  padding-bottom: 0px;
}

.show .play_embed {
	margin-top:25px;
	margin-bottom:20px;
	display:block;
}

.show .play_link {
}

.calendar {
  width: 590px;
  border-bottom: #FFFFFF 1px solid;
  font-size: 10pt;
}

.calendar thead tr th {
  text-align: center;
  border-bottom: #FFFFFF 1px solid;
  width: 90px;
  padding-bottom: 20px;
  font-weight: bold;
}

.calendar tbody tr td {
  vertical-align: top;
  text-align: center;
  height: 50px;
}

.calendar tbody td {
  border-right: #FFFFFF 1px solid;
}

.calendar tbody .hour {
  border: #FFFFFF 1px solid;
}

.calendar tbody .active_start {
  border-top: #FFFFFF 1px solid;
}

.calendar tbody .active_end {
  border-top: #FFFFFF 1px solid;
}

.per_day_schedule_link {
  text-align: center;
  margin-bottom: 10px;
}



form label {
  float: left;
  width: 200px;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 20px;
  margin-right: 20px;
}

form input, textarea {
  width: 180px;
  margin-bottom: 5px;
}

form textarea {
  width: 250px;
  height: 150px;
}

form .boxes {
  width: 1em;
}

.ppbut {
	width: 86px !important;
}

form #submitbutton {
  margin-left: 120px;
  margin-top: 5px;
  width: 90px;
}

form br {
  clear: left;
  margin-bottom: 20px;
}

.error_message {
  color: red;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.human_being {
  width: 50px;
}

audio {
  width: 440px;
}